<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Tu khoa</label>
            <input type="text" name="tukhoa" class="form-control" id="exampleInputEmail1" placeholder="Nhap tu khoa">
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>